body{
    display: flex;
    margin: 20px;
    padding: auto 10px;
}
#firstblock{
    margin: 20px;
    width: 200px;
    height: 200px;
}
#secondblock{
    margin: 20px;
    width: 200px;
    height: 200px;
}
th{
    height: 150px;
    width: 50px;
}

#th2{
    width: 200px;

}

#th3{
    width: 200px;
    
}



